@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization
@using MeetingRoomNano.Client.Shared

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="foundRouteData">
            <RouteView RouteData="foundRouteData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, the page could not be found.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
