@page "/admin/meetingroom/delete/success"
<h3>Meeting Room Deleted Successfully!</h3>
<button class="btn btn-primary" @onclick="@GoBack">Go Back</button>

@code {
    [Inject] NavigationManager Navigation { get; set; }
    void GoBack() => Navigation.NavigateTo("/admin/meetingroom/list");
}
