@page "/login"
@using BlazorApp1.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<div class="d-flex justify-content-center">
    <div class="card p-4 mt-3" style="max-width:500px;">
        <h3 class="text-center">Login</h3>

        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" placeholder="Enter your Username"
                   @bind="loginModel.Username" />
        </div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" placeholder="Enter your password"
                   @bind="loginModel.Password" />
        </div>

        <button class="btn btn-primary w-100" @onclick="HandleLogin">Login</button>
    </div>
</div>

@if (showToast)
{
    <div class="toast-message @toastCssClass">
        @toastMessage
    </div>
}

@code {
    private BlazorApp1.Client.Models.LoginRequest loginModel = new();
    private bool showToast = false;
    private string toastMessage = "";
    private string toastCssClass = "";

    private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(loginModel);

        if (result != null && result.IsAuthenticated)
        {
            toastMessage = $"Successfully logged in as {result.Role}!";
            toastCssClass = "toast-success";
        }
        else
        {
            toastMessage = "Login Failed!";
            toastCssClass = "toast-fail";
        }

        showToast = true;
        StateHasChanged();

        await Task.Delay(1500);

        showToast = false;

        // Navigate if login success
        if (result != null && result.IsAuthenticated)
        {
            if (result.Role == "Admin")
                Navigation.NavigateTo("/adminpanel");
            else if (result.Role == "Employee")
                Navigation.NavigateTo("/employeepanel");
            else
                Navigation.NavigateTo("/");
        }
    }
}
